aniso8601==8.1.0
appdirs==1.4.4
applicationinsights==0.11.9
asn1crypto==1.4.0
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
azure-common==1.1.26
azure-nspkg==3.0.2
azure-storage==0.36.0
certifi==2022.12.7
cffi==1.14.4
chardet==4.0.0
click==7.1.2
codecov==2.1.10
colorama==0.4.4
coverage==5.3
cryptography==3.3.2
Flask==1.1.2
flask-restplus==0.13.0
idna==2.10
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.17.0
jsonschema==3.2.0
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.6.0
numpy==1.19.4
pandas==1.1.5
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pylint==2.6.0
pyrsistent==0.17.3
pytest==6.1.2
pytest-cov==2.10.1
pytest-flask==1.1.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
toml==0.10.2
typed-ast==1.4.1
urllib3==1.26.4
wcwidth==0.2.5
werkzeug==0.15.3
wrapt==1.12.1
