aniso8601==8.1.1
appdirs==1.4.4
applicationinsights==0.11.9
asn1crypto==1.4.0
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
azure-common==1.1.26
azure-nspkg==3.0.2
azure-storage==0.37.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
codecov==2.1.11
colorama==0.4.4
coverage==5.4
cryptography==3.4.4
Flask==1.1.2
flask-restplus==0.13.0
idna==3.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.7.0
numpy==1.20.1
pandas==1.2.2
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pylint==2.6.0
pyrsistent==0.17.3
pytest==6.2.2
pytest-cov==2.11.1
pytest-flask==1.1.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
urllib3==1.26.3
wcwidth==0.2.5
werkzeug==1.0.1
wrapt==1.12.1
